<title>Proyecto 2</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Proyecto 2 del curso de compiladores 2">
<meta name="author" content="Joel Daniel Esaú Pérez Camey - 201404268">
<link rel="stylesheet" href="./stylesheets/bootstrap.min.css"/>
<script src="./lib/codemirror.js"></script>
<link rel="stylesheet" href="./lib/codemirror.css"/>
<link rel="stylesheet" href="./lib/base16-dark.css"/>
<link rel="stylesheet" href="./lib/3024-night.css"/>  
<script src="./mode/clike/clike.js"></script>