<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CAAS</a>         
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Archivo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <input id="AbrirArchivo" class="dropdown-item" type="file" multiple/>
                    <div class="dropdown-divider"></div>
                    <a id="btn-crear" class="dropdown-item" href="#">Crear</a>
                    <div class="dropdown-divider"></div>
                    <a id="btn-guardar" class="dropdown-item" href="#">Guardar</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones de compilacion
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a id = "btn-compilar" class="dropdown-item" href="#">Compilar</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ejecucion de codigo 3D
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id = "btn-Ejecutar3D" href="#">Ejecutar</a>
                <a class="dropdown-item" href="#">Depurar</a>
              </div>
            </li>            
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reportes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id = "btn-ReporteErrores" href="#">Reporte de errores</a>
                <a class="dropdown-item" id = "btn-ReporteTablaSimbolos" href="#">Reporte de tabla de simbolos</a>                
                <a class="dropdown-item" href="#">Generar AST</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consola
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id = "btn-LimpiarErrores" href="#">Limpiar consola de errores</a>
                <a class="dropdown-item" id = "btn-LimpiarSalida" href="#">Limpiar consola de salida</a>
              </div>
            </li>
        </ul>
    </div>
</nav>